<div class="row">
    <div class="col wide">{{this._kmd.ect}}</div>
    <div class="col wide">{{this.productCount}}</div>
    <div class="col">{{this.total}}</div>
    <div class="col">
        <a href="#/details">Details</a>
    </div>
</div>