<header id="menu">
    <a href="#/home" class="anonymous" id="linkMenuAppHome">Home</a>
    <a href="#/login" class="anonymous" id="linkMenuLogin">Login</a>
    <a href="#/register" class="anonymous" id="linkMenuRegister">Register</a>
</header>