{{> header}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">
{{> navigation}}
            <h2 class="titlebar">{{username}}</h2>

            <form id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>0 chirps</span> | <span>1 following</span> | <span>0 followers</span>
            </div>
        </div>
        {{> chirp}}
    </div>
</section>
{{> footer}}