<tr>
    <td>{{recipient_username}}</td>
    <td>{{text}}</td>
    <td>{{date}}</td>
    <td>
        <form action="#/message/delete/{{_id}}">
            <button>Delete</button>
        </form>
    </td>
</tr>